body {
	background-color: gainsboro;
	font-family: sans-serif;
	
	
}

h2{
	color: yellow;
}


h2{
	color: blue;
}

h3 {background-color: red;}


h4 {
	background-color: blue;
}

.class-selector{
	background-color: purple;
}


h5 {
	background-color: purple;
}

.inherit{
	background-color: blue;
}

#id-selector {background-color: yellow;}


div[id=id-selector] {background-color: blue;}

div{
	width: 500px;
	margin:auto;
}

.class1 {
	border: solid;
	border-color: white;
	padding: 10px;
	text-align: center;

}
